---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SocialMedia from '../components/icons/SocialMedia.astro';
import Github from '../components/icons/Github.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Mail from '../components/icons/Mail.astro';
import ProfilePic from '../assets/Erik_Reyes.png';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
	title="Porfolio - Erik Reyes - Web Developer and Developer | UI Design | React | Astro"
	description="Contact me at">
	<main>
		<SectionContainer class="py-44 pb-25">
			<img 
				class="rounded-full w-12 h-12 " 
				src={ProfilePic.src} 
				alt="Erik Photo"
			/>
			<h1 
			class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5"
			>
				Hey, I am Erik Reyes 
				<a 
				href="https://www.linkedin.com/in/erik-mauricio-reyes-mart%C3%ADnez-6136b0256/" 
				target="_blank"
				rel="noopener noreferrer"
				class="flex justify-center items-center">
					<Badge>Available for hire</Badge>
				</a>
			</h1>
		
			<h2 class="text-xl opacity-85 text-white font-medium text-wrap">
				<span class="text-blue-500/90">Mechatronic Engineer.</span> <span>Web Developer Based in Mexico</span> — <span class="text-yellow-200/90 opacity-85">Specialized in UI Design, Responsive Interfaces, and Visual Development with React and Astro.
			</h2></span>

			<nav class="flex flex-row gap-x-4 mt-4">
				<SocialMedia href="https://github.com/Kekekingg">
					<Github class="size-6"/>
						   Github
				</SocialMedia>
				<SocialMedia href="https://www.linkedin.com/in/erik-mauricio-reyes-mart%C3%ADnez-6136b0256/">
					<Linkedin class="size-6"/>
						   LinkedIn
				</SocialMedia>
				<SocialMedia href="mailto:erikmreyesm@gmail.com">
					<Mail class="size-6"/>
						   Send Email
				</SocialMedia>

			</nav>
		</SectionContainer>
		
		<SectionContainer>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
