---

import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Present...",
    title: "Project Development through Udemy Coursework - Udemy",
    description:
      "Engaged in continuous project development by applying skills learned from various courses including Udemy, focusing on practical implementation and real-world applications.",
    link: "#",
  },
  {
    date: "2024-2025",
    title: "Meta Front-End Developer Professional Certificate - Coursera",
    description:
      "Earned the Meta Front-End Developer Professional Certificate through Coursera, gaining hands-on experience in HTML, CSS, JavaScript, React, Git, GitHub, UI/UX design, responsive design, and accessibility.",
  },
  {
    date: "2023 - 2024",
    title: "Fullstack Developer Learning Path - Tec Milenio University",
    description:
      "Completed a comprehensive Fullstack Developer learning path, covering both front-end and back-end technologies to build dynamic web applications.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {//  Iterate over the EXPERIENCE array and render ExperienceItem components
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-5">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
  
</ol>
