---
import ProfilePic from '../assets/Erik_Reyes.png';
---
<header class="flex justify-between md:px-15 md:py-4 w-[1120px] mx-auto items-center w-full h-full">
    <img 
    class="rounded-full w-12 h-12 " 
    src={ProfilePic.src} 
    alt="Erik Photo"
    />

    <nav class="flex flex-row gap-x-5 opacity-80 text-white font-medium">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>